@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    height: 100%;
    background: hsl(233, 47%, 7%);
    font-family: 'Inter';
    font-size: 2vh;
}
.main , .text , .text3 , .subtext1, .subtext2 , .subtext3{
    display: flex;
    justify-content: space-between;
}
.main{
    justify-content: center;
    align-items: center;
    margin: 8% ;
    background: hsl(244, 38%, 16%);
}

.text{
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-left: 5%;
}

.text1{
    color: hsl(0, 0%, 100%);
    font-weight:700;
    width: 85%;
}

.text2{
    color:  hsla(0, 0%, 100%, 0.75);
    width: 89%;
}

.text3{
    color: hsla(0, 0%, 100%, 0.6);
    font-weight: 400;
    width: 80%;
}

.image img{
        object-fit: contain;
        filter: grayscale(100%) brightness(60%) sepia(100%) hue-rotate(-500deg) saturate(500%) contrast(0.8);
        max-height: 100%;
        max-width: 100%;
}
#stats{
    font-weight: 700;
    color: white;
}
.subtext1,.subtext2,.subtext3{
    flex-direction: column;
    justify-content: space-between;
}


#snippet{
    color:hsl(277, 64%, 61%);
}



/* Media Query for Tablets Ipads portrait mode */
/*
@media (max-width: 768px){
    .main{
        flex-direction: column-reverse;
        text-align: center;
        flex-basis: auto;
}
    .text{
        width: auto;
        text-align: center;
        font-size: 2vh;
        font-weight: 700;
        align-items: center;
    }
    .text1{
        width: 80%;
        font-weight: 400;
    }
    .text2{
        width: 75%;
        font-size: 1.5vh;
    }
    .text3{
        flex-direction: column;
        align-items: center;
        font-weight: 400;
    }
    

    .image img{
        margin-top: 15%;
        height: 100%;
        width: 100%;
        object-fit: contain;
}
}
*/
/* Media Query for Tablets Ipads portrait mode */

@media (max-width: 768px){
    .main{
        flex-direction: column-reverse;
        padding-bottom: 10%;
        text-align: center;
        flex-basis: auto;
    }
    .text{
        width: auto;
        text-align: center;
        font-size: 2vh;
        font-weight: 700;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-wrap: wrap;
        margin-left: 0%;
    }
    .text1{
        max-width: 80%;
        font-weight: 400;
    }
    .text2{
        max-width: 75%;
        font-size: 1.5vh;
    }
    .text3{
        flex-direction: column;
        align-items: center;
        font-weight: 400;
    }
    .image img{
        margin-top: 15%;
        height: 100%;
        width: 100%;
        
}
}