@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    height: 100%;
    background: hsl(233, 47%, 7%);
    font-family: 'Inter';
    font-size: 15px;
}
.main , .text , .text3 , .subtext1, .subtext2 , .subtext3{
    display: flex;
    justify-content: space-between;
}
.main{
    justify-content: center;
    align-items: center;
    margin: 8% ;
    background: hsl(244, 38%, 16%);
}

.text{
    flex-direction: column;
    margin: 10%;
}

.text1{
    color: hsl(0, 0%, 100%);
    font-weight:700;
}

.text2{
    color:  hsla(0, 0%, 100%, 0.75);
}

.text3{
    color: hsla(0, 0%, 100%, 0.6);
    font-weight: 400;
}

.image img{
    filter: grayscale(100%) brightness(60%) sepia(100%) hue-rotate(-500deg) saturate(500%) contrast(0.8);
    object-fit: contain;
}
h3{
    font-weight: 700;
    color: white;
}
.subtext1,.subtext2,.subtext3{
    flex-direction: column;
    justify-content: space-between;
}


#snippet{
    color:hsl(277, 64%, 61%);
}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 


}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .main{
        flex-direction: column-reverse;
        text-align: center;
    }
    .text3{
        flex-direction: column;
        align-items: center;
    }
    
    img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

